<%include partials/head.ejs%>
<%include partials/navbar.ejs%>
<body>
<% if(!user) {%>
    <script>$(location).attr('href', '/login')</script>
<%}%>
<div class="mainMenu">
    <div class="container">
    <b><h4><%=module.name%></h4></b>
        <h4>Module difficulty: <strong><%=module.difficulty%></strong></h4>
        <h5>Module progress <%=percent%>%.</h5>
        <% if(user && user.isAdmin) {%>
        <a href="/module/add/exercise/<%=module.id%>"><button style="float: right;" class="btn btn-outline-success" >Add Exercise</button> </a>
        <%}%>
        <br><br>
    <%if(exercises.length !=0){%>
    <ul class="list-group">
        <% exercises.forEach(exercise=>{ %>
            <li class="list-group-item"><%=exercise.question%>
                <% if(user && user.isAdmin) {%>
                <a style="float: right; font-size: 150%;" href="/exercise/delete/<%=exercise.id%>/<%=module.id%>" >x</a>
                <a href="/exercise/edit" style="float: right; margin-left: 0.2%;"><button class="btn btn-secondary"> Edit Exercise</button></a>
                <%}%>
                <%if(exercisesSolvedId.includes(exercise.id) ){%>
                    <h5 style="float: right; font-size: 150%;">Solved</h5>
                <%}else{%>
                    <a href="/exercise/solve/<%=exercise.id%>" style="float: right;"><button class="btn btn-primary"> Solve Exercise</button></a>
                <%}%>
        </li>
        <%})%>
    </ul>
    <%}else{%>
            <h5>There are no Exercises in this module</h5>
            <% if(user && user.isAdmin) {%>
            <a href="/module/add/exercise/<%=module.id%>"><button class="btn btn-outline-success" >Add Exercise</button> </a>
        <%}%>
    <%}%>
</div>
</div>
</body>